
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  box-shadow: 2px 2px 2px #2a63c5;
  background-color: rgb(243, 243, 243);
  border-bottom: 1px solid #e7e7e7;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-logo {
  width: 80px;
  height: 80px;
}

.navbar-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 9px;
  width: 600px;
  text-align: center;
  margin: 0 1rem;
}

.navbar-buttons {
  display: none;
}

.navbar-btn1,
.navbar-btn {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 7px;
  background-color: #3b3b3b;
  font-weight: bold;
  color: black;
  cursor: pointer;
  margin-left: 1rem;
}

.navbar-btn1:hover,
.navbar-btn:hover {
  background-color: #d3d3d3;
}

.navbar-toggler {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}


.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #f9f9f9;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar.active {
  right: 0;
}

.close-btn {
  font-size: 1.5rem;
  background: none;
  border: none;
  align-self: flex-end;
  cursor: pointer;
}




@media (max-width: 768px) {
  .navbar-input {
    width: 100%;
    max-width: 90%;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-buttons {
    display: none; 
  }
}


@media (min-width: 768px) {
  .sidebar {
    display: none;
  }

  .navbar-buttons {
    display: flex; 
    align-items: center;
  }
}
